body{
	background-color: red;
}
h1{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 20px;
}


.card div{
	padding:20px;
	margin: 0;
	transition-duration: 2s;
}
/*.card div:hover{
	margin: 0 auto;
}*/
.card img{
	padding: 20px;
}
.card{
	position: relative;
	left: 380px;
	text-align: center;
	margin: 20px;
}